# Set default behavior for all files
* text=auto

# Explicitly declare text files you want to always be normalized and converted
*.md text
*.js text
*.jsx text
*.ts text
*.tsx text
*.css text
*.html text
*.json text
*.yml text
*.yaml text
*.xml text
*.txt text

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf
*.cmd text eol=crlf

# Declare files that will always have LF line endings on checkout
*.sh text eol=lf
.htaccess text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.pdf binary
*.gltf binary
*.glb binary
*.bin binary